
@media only screen and (max-width: 600px) {
    .header {
        font-size: 2rem;
        text-align: center;
        width: 80%;
    }
    .profile {
        margin-bottom: 1rem;
        width: 17.5rem;
        height: 17.5rem;
    }
    .title {

    }
    .description {
        margin-top: 0.5rem;
    }
    .solo-description { 
        width: 87.5%;
        font-size: 0.9rem;
        margin-inline: auto;
    }
}

@media only screen and (min-width: 601px) {
    .profile {
        margin-right: 2rem;
        width: 20rem;
        height: 20rem;
    }
    .description {
        margin-top: 0.2rem;
    }
    .solo-description { 
        width: 42.5rem;
    }
}
